/* Write your CSS here! */
body {
    margin: 8px;
    display: block;
    padding: 0px
  }

main {
    padding: 10px
}

#mainHeading {
    color: red
}

#subHeading {
    color: #082E4C
}

#bunny {
    color: #BC967B
}

#victim{
    color: #BC967B
}

.funParagraph{
    color: green
}